
.login
{
background-image: url("bg.jpg");
}
.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: red;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
FormCenter {
margin-bottom: 100px;
}

.FormTitle {
color: #707C8B;
font-weight: 300;
margin-bottom: 50px;
}

.FormTitle__Link {
color: #707C8B;
text-decoration: none;
display: inline-block;
font-size: 1.7em;
margin: 0 10px;
padding-bottom: 5px;
}

.FormTitle__Link:first-child {
margin-left: 0;
}

.FormTitle__Link--Active {
color: red;
border-bottom: 1px solid #199087;
}

.FormField {
margin-bottom: 40px;
}

.FormField__Label {
display: block;
text-transform: uppercase;
font-size: 2em;
color: red;
font-family: Impact, Charcoal, sans-serif;
}
.FormField__Input {
width: 85%;
background-color: transparent;
border: none;
color: blue;
outline: none;
border-bottom: 1px solid #445366;
font-size: 1em;
font-weight: 300;
padding-bottom: 10px;
margin-top: 10px;
}

.FormField__Input::placeholder {
color: #616E7F;
}

.FormField__Button {
background-color: RED;
color: white;
border: none;
outline: none;
border-radius: 10px;
padding: 15px 30px;
font-size: .8em;
font-weight: 300;
white-space: pre-line;
}



.FormField__Buttonp:hover {
opacity: 1;
background-color: red;
color: white;
border: none;
outline: none;
border-style: solid;
border-color: coral;
 opacity: 0.5;
border-radius: 20px;
padding: 15px 30px;
font-size: 1em;
font-weight: 450;
white-space: pre-line;
}


.FormField__Buttonp: {
opacity: 1;
background-color: black;
color: white;
border: none;
outline: none;
border-style: solid;
border-color: coral;
 opacity: 0.5;
border-radius: 20px;
padding: 15px 30px;
font-size: 1em;
font-weight: 450;
white-space: pre-line;
}


.FormField__Link {
color: #66707D;
text-decoration: none;
display: inline-block;
border-bottom: 1.5px solid #225E62;
padding-bottom: 5px;
}

.FormField__CheckboxLabel {
color: #646F7D;
font-size: .9em;
}

.FormField__Checkbox {
position: relative;
top: 1.5px;
}

.FormField__TermsLink {
color: white;
border-bottom: 1px solid #199087;
text-decoration: none;
display: inline-block;
padding-bottom: 2px;
margin-left: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
 opacity: 0.8;
  border: 2px solid gray;
  color: red;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
border-color: coral;
}

.btn:hover {
  opacity: 1;
  border: 2px solid gray;
  color: red;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  border-style: solid;
border-color: coral;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .container {
        text-align: center;
    }
    
    section {
        position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
        
        text-align: center;
        min-height: 515px;
        vertical-align: top;
      
        background: #080915;
        
        -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
                box-shadow: 0px 0px 30px 1px #103136 inset;
    }

@media only screen and (max-width: 600px) {
  section {
    min-width: 650px;
  }
}
    
    .loader {
        position: relative;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        margin: 100px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .loader-star {
        position: absolute;
        top: calc(50% - 12px);
    }
    /*LOADER-1*/
    
    .loader-1 .loader-outter {
        position: absolute;
        border: 4px solid #f50057;
        border-left-color: transparent;
        border-bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        -webkit-animation: loader-1-outter 2s cubic-bezier(1.42, .61, .58, .41) infinite;
        animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }
    
    .loader-1 .loader-inner {
        position: absolute;
        border: 4px solid #f50057;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        border-right: 0;
        border-top-color: transparent;
        -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
        animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }
   
    
    
    /* ----------------     KEYFRAMES    ----------------- */
    
    @-webkit-keyframes loader-1-outter {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @keyframes loader-1-outter {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes loader-1-inner {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    
    @keyframes loader-1-inner {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
        }
    }
    
   body { font: 400 1em/1.5 "Neuton"; background: #090d00; color: rgba(255,255,255,.25); text-align: center; margin: 0 }

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 58%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  
  span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}





* {
  outline:none;
	border:none;
	margin:0px;
	padding:0px;
	font-family:Courier, monospace;
}
body {
	background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;        
}
#paper {
	color:#FFF;
	font-size:20px;
}
#margin {
	margin-left:12px;
	margin-bottom:20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}
#text {
	width:100%;
    height:100%;
	overflow:true;
	background-color:#FFF;
	color:#222;
	font-family:Courier, monospace;
	font-weight:normal;
	font-size:24px;
	resize:none;
	line-height:40px;
	padding-left:100px;
	padding-right:100px;
	padding-top:45px;
	padding-bottom:34px;
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	background-repeat:repeat-y, repeat;
	-webkit-border-radius:12px;
	border-radius:12px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
    white-space: pre-wrap;
}

#title {
	background-color:transparent;
	border-bottom:3px solid #FFF;
	color:#FFF;
	font-size:20px;
	font-family:Courier, monospace;
	height:28px;
	font-weight:bold;
	width:220px;
}
#button {
	cursor:pointer;
	margin-top:20px;
	float:right;
	height:40px;
	padding-left:24px;
	padding-right:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	color:#FFF;
	text-shadow: 0px -1px 0px #000000;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-top:1px solid #FFF;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	background-color: #62add6;
	background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
	background-repeat:repeat-x;
}
#button:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#button:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#wrapper {
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:24px;
	margin-bottom:100px;
}


.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}





